@font-face {
	font-family: 'SONGER Condensed Heavy';
	src: url(fonts/songer_c_heavy.otf);
}

@font-face {
	font-family: 'SONGER Condensed Medium';
	src: url(fonts/songer_c_medium.otf);
}

@font-face {
	font-family: 'Qanelas Black Italic';
	src: url(fonts/qanelas-black-italic.ttf);
}

@font-face {
	font-family: 'Qanelas Black';
	src: url(fonts/qanelas-black.ttf);
}

A:link { 
    text-decoration: none;
    color: #965dff;
} 
A:visited {
	text-decoration: none;
	color: #965dff;
} 
A:active {
	text-decoration: none;
	color: #965dff;
}
A:hover {
    text-decoration: none;
    color: #ff2a36;
}

body {
	/*background-color: #e0e0d0;*/
	background-color: #000000;
	font-family: 'SONGER Condensed Medium', Manrope, Calibria;
	margin: 0 auto;

}

/*.wrapper {
    display: table;
    width: 100%;
}

.wrapper .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}*/



/* HEADER BEGIN */

header button {
	border: none;
	color: #FFFFFF;
}

header.ela button {
	background-color: #ff2a36;
}

header.zel button {
	background-color: #965dff;
}

@media screen and (min-width: 600px) {
	header {
		display: grid;
		grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
		text-align: center;
	}

	.md {
		width: 30%;
		float: right;
	}

	.filmInfo {
		display: grid;
		grid-template-columns: 2fr 8fr 2fr;
	}

	.filmCard {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 8fr 1fr;
	}

	.filmCard img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

}

@media screen and (max-width: 599px) {
	.sm {
		width: 30%;
		float: right;
	}
}

/* HEADER END */




.filmInfo .ela {
	background-color: #ff2a36;
}

.filmInfo .zel {
	background-color: #965dff;
}



.main-container {
	align-content: center;
	background-color: #e0e0e0;
	width: 1000px;
	margin: 0 auto;
	/* padding:  10px; */
	padding:  0 auto; 
}

.main-container.admin {
	background-color: #f0f0f0;
	color: #000000;
	padding: 20px;
}

.admin h1, h2, h3, h4, h5, h6 {
	color: #f0d000;
}

.admin button {
	background-color: #f0d090;
	font-family: Manrope, Calibria, 'SONGER Condensed Medium';
}

header.admin {
	height: 30px;
	background-color: #f0d000;
	color: #000000;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	padding: 10px 170px;
}

header.admin form {
	display: inline;
}

header.admin button {
	height: 30px;
	border: none;
}

header.admin button:hover {
	cursor: pointer;
}

.admin-panel {
	color: #ff1000;
	font-size: 12px;
	font-weight: bold;
}

.cards {
	background-color: #000000;
	color: #f0d000;
	border: 2px #f0f0f0;
	padding: 15px;
}

.rmv button {
	background-color: #f09090;
	font-family: Manrope, Calibria, 'SONGER Condensed Medium';
}

.pre-wrap{
	white-space: pre-wrap;
}

.townChoise {
	text-align: center;
	color: #ffffff;
}

.towns {
	display: grid;
	grid-template-columns: 50% 50%;
}

.townQuestion {
	height: 30px;
	margin: 30px;
}

.townElabuga,
.townZelenodolsk {
	margin:  0;
}

.mainImg {
	width: 100%;
	margin:  0 auto;
}

header,
footer {
	font-family: 'SONGER Condensed Regular', Manrope, Calibria;
	height: 50px;
	color: #ffffff;
	padding: 10px;
}

header.ela,
footer.ela {
	background-color: #ff2a36;
}

header.zel,
footer.zel {
	background-color: #965dff;
}

.logoimg {
	height: 100%;
}

header A:link { 
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-size: 17px;
} 
A:visited {
	text-decoration: none;
	color: #ffffff;
} 
A:active {
	text-decoration: none;
	color: #ffffff;
}
A:hover {
    text-decoration: none;
    color: #f0d000;
}

.container-0 {

}

.container-1 {
	padding:  10px;
}


/*TIMETABLE*/
.timetable {
	padding: 10px;
	font-family: 'Qanelas Black Italic', Manrope, Calibria;

}
.filmTitle {
	color: #ffffff;
	padding: 10px;
}
.filmTitle.ela {
	background-color: #ff2a36;
}
.filmTitle.zel {
	background-color: #965dff;
}
.filmProperties,
.filmDuration,
.filmGenre {
	color: #909090;
	padding: 1px 10px;
}
.filmSessions {
	display: grid;
	grid-template-columns: 20% 80%;
	color: #101010;
	padding: 10px;
}
